__pycache__/
.ipynb_checkpoints/
.vscode/


shelf_info/
static/covers/
static/bookcovers_large/
static/shelf_config_name.js

batch_files/

*.ipynb
trial_dir/

*.xlsx
*.xlsx#

.DS_Store

build/
dist/